.product {
    margin-top: 50px;
    max-width: 250px;
  }
  .product .boxItems {
    transition: 0.5s;
    display: flex;
  }
  .product .boxItem:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }
  .product img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 5px;
  }
  .product .details {
    width: 50%;
  }
  .product .details h3 p {
    font-size: 17px;
  }
  
  .product button {
    font-size: 17px;
    margin-top: 15px;
    float: left;
  }
  
  .hide {
    display: none;
  }